body {
    margin:                  0;
    font-family:             -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
                             'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                             sans-serif;
    -webkit-font-smoothing:  antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
                 monospace;
}

button:focus {
    outline: none !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply px-4 py-3 transition-all text-white rounded-3xl hover:bg-right duration-500;
        background-image: linear-gradient(to right, #F55F8D 0, #F8AE56 51%, #F55F8D 100%);;
        background-size:  200%;
    }
}